    <footer>
        <div class="container">
            <div class="social-media-box">
                <p>Follow us!</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/vincent.vanherreweghe"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/vinniee__vh/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Skream0_?lang=nl"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.twitch.tv/skreamo_"><i class="fab fa-twitch"></i></a>
                </div>
            </div>
            <div class="contact-box">
                <p>Vincent Van Herreweghe</p>
                <p>For Syntra West</p>
                <p>Eindwerk: Discover Yourself™</p>
                <p>2017-2018</p>
                
            </div>
        </div>
    </footer>
  </body>
</html>