<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webshop kleren</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/header.css">
  </head>
        <nav class="navigation navbar navbar-dark">
             <a class="navbar-brand" href="#">Discover Yourself</a>
             <div class="searchBox form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" placeholder="Search...">
                <div class="input-group-addon">
                  <i class="fa fa-search"></i>
                </div>
             </div>
       </nav>
