<% include ../partials/header %>

    <main>
        <div class="container">
            <h1> Summer. Undiscovered.</h1>
            <div class="jumbotron">
            </div>
            <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="item">
                    <a class="img-item" href="">
                    <img src="https://images.unsplash.com/photo-1468421201266-ec88b2809284?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9919c5edb104f2f40573c72ebfff28f&auto=format&fit=crop&w=1267&q=80" />
                    </a>
                    <div class="item-content">
                        <h4 class="item-brand">
                           <a href="">ROLEX</a>
                        </h4>
                         <h4 class="item-price">
                           <a href="">€12.99</a>
                        </h4>
                        <p class="item-kind">
                            Horloge
                        </p>
                    </div>
                    <div class="item-options">
                        <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn">
                            <i class="fas fa-shopping-bag"></i><span>Shopping Bag</span>
                        </a>
                        <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn">
                            <i class="far fa-heart"></i><span>Wishlist</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

<% include ../partials/footer %>