<% include ../partials/header %>

    <main>
        <div class="container">
            <h1> Summer. Undiscovered.</h1>
            <div class="jumbotron">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="item">
                        <a class="img-item" href="">
                        <img src="https://images.unsplash.com/photo-1468421201266-ec88b2809284?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9919c5edb104f2f40573c72ebfff28f&auto=format&fit=crop&w=1267&q=80" />
                        </a>
                        <div class="item-content">
                            <h4 class="item-brand">
                               ROLEX
                            </h4>
                             <h4 class="item-price">
                               €12.99
                            </h4>
                            <p class="item-kind">
                                Horloge
                            </p>
                        </div> 
                    <div class="item-options btn-group" role="group" aria-label="...">
                      <button type="button" class="item-shoppingbag btn btn-default"><i class="fas fa-shopping-bag"></i></button>
                      <button type="button" class="item-wishlist btn btn-default"><i class="far fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </main>

<% include ../partials/footer %>