<% include ../partials/header %>

<main>
    <div class="container">
        <h1> Summer. Undiscovered.</h1>
        <div class="jumbotron"></div>
        <div class="row">
            <% products.forEach(function(product){ %>
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                <img src="<%=product.image%>">
                <div class="item-content">
                    <h4 class="item-brand"><%= product.brand %></h4>
                    <h4 class="item-price"><%= product.price %></h4>
                    <h4 class="item-kind"><%= product.name %></h4>
                </div>
                <p class="item-options">
                    <a type="button" class="item-shoppingbag btn btn-default"><i class="fas fa-shopping-bag"></i></a>
                    <a type="button" class="item-wishlist btn btn-default"><i class="far fa-heart"></i></a>
                </p>
            </div>
        </div>
    <% }); %>
    </div>
</main>

<% include ../partials/footer %>