<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Discover Yourself</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
  </head>
  <body>
    <div id="landing-header">
        <div id="landing-background">
        <h1 id="landing-h1">Discover Yourself</h1>
  		  <a href="/homepage" class="button"><span>View Our Collection</span></a>
        </div>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
 </body>
</html>