<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Discover Yourself</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">
  </head>
  <body>
    <div id="landing-header">
        <div id="landing-background">
        <h1 id="landing-h1">Discover Yourself</h1>
  		  <a href="/homepage" class="button"><span>View Our Collection</span></a>
        </div>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ../partials/footer %>