html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Poppins';
}

h1 {
    padding-left: 7.5%;
}

i {
    color: rgb(232, 234, 237);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    background-color: #040405;
    color: rgb(232, 234, 237);
}

main {
    padding-bottom: 10rem;
}

a>img {
    width: 155px;
    height: 50px;
}

a>i {
    font-size: 1.5em;
}

/* HOMEPAGE - box that shows possible promotions*/
.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce33761e90611fc4072c99cfa8adbe35&auto=format&fit=crop&w=1050&q=80);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* HOMEPAGE - Box that contains a item for sale*/
.item-content {
    padding: 15px;
    text-align: center;
    padding-bottom: 0;
}

.thumbnail {
    padding: 0;
}

.item-brand {
    float: left;
    text-transform: uppercase;
    width: 50%;
    text-align: left;
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
    padding-left: 0;
    color: #000;
    vertical-align: center;
    text-decoration: none !important;
}

.item-options {
    border-top: 1px solid #cfd2d6;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #040405;    
}

.item-shoppingbag {
    margin: 0;
    width: 50%;
    border-radius: 0;
    display: inline;
}

.item-shoppingbag>i {
    color: #040405;
    font-size: 2em;
}

.item-wishlist {
    margin-right: 0;
    border-radius: 0;
    margin: 0;
    width: 50%;
    border-right: 0;
    display: inline;
}

.item-wishlist:hover {
    background-color: rgb(244, 30, 19, 0.4);
}

.item-wishlist>i {
    color: #f41e13;
    font-size: 2em;
}

.item-kind {
    text-align: left;
    height: 50%;
    width: 50%;
}

.item-price {
    float: right;
    text-decoration: none !important;
    width: 50%;
    margin-top: 0;
    display: inline-block;
    text-align: right;
    color: #040405;
}

/* FOOTER - Social media right*/
.social-media {
    font-size: 1.15em;
}

/* FOOTER - Contact info left */
.contact-box {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-box>p {
    margin-bottom: 2px;
}

.social-media-box {
    float: right;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*NAVIGATION BAR - styling the navbar*/
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-color {
    background: #040405;
    border: 1px solid #353a42;
    border-radius: 0%;
    text-align: center;
}

.input-size {
    width: 150px;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(232, 234, 237);
    text-align: center;
}

.navbar-default .navbar-brand {
    color: rgb(232, 234, 237);
    margin-top: 0;
}

.navbar-default .navbar-nav>li>a>span {
    color: rgb(232, 234, 237);
    font-size: 10px;
    padding-bottom: 0;
}

/* NAVIGATION BAR - Hover effects for the list items*/
.navbar-default .navbar-nav>li>a:hover {
    color: rgb(232, 234, 237);
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: rgb(232, 234, 237);
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}