html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    padding-top: 120px;
    padding-bottom: 150px;
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: 'Poppins';
}

h1 {
    padding-left: 7.5%;
}

h2 {
    text-align: center;
    border-bottom: 1px solid #040405;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

label {
    display: block;
}

span {
    display: block;
}

i {
    color: rgb(232, 234, 237);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    margin-top: 5%;
    width: 100%;
    background-color: #040405;
    color: rgb(232, 234, 237);
}

a:hover {
    text-decoration: none;
}

.brand-image {
    width: 155px;
    height: 45px;
}

a>i {
    font-size: 1.5em;
}

form>input {
    width: 100%;
}

form>button {
    margin-top: 20px;
}

form>label {
    margin-top: 10px;
}

#h1-register {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #040405;
}

/* HOMEPAGE - box that shows possible promotions*/
.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce33761e90611fc4072c99cfa8adbe35&auto=format&fit=crop&w=1050&q=80);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* HOMEPAGE - Box that contains an item for sale*/
.item-content {
    padding: 15px;
    text-align: center;
    padding-bottom: 0;
}

.thumbnail {
    padding: 0;
    height: 100%;
    width: 100%;
}

.product-image {
    position: relative;
    width:  150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-brand {
    float: left;
    text-transform: uppercase;
    width: 50%;
    text-align: left;
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
    padding-left: 0;
    color: #000;
    vertical-align: central;
    text-decoration: none !important;
}

.thumbnail a>img {
    height: 200px;
    margin-top: 20px;
}

.item-category {
    color: #040405;
    text-align: left;
    height: 50%;
    width: 50%;
}

.item-category:hover {
    text-decoration: none;
}

.item-price {
    float: right;
    text-decoration: none !important;
    width: 50%;
    margin-top: 0;
    text-align: right;
    color: #040405;
}

.item-options {
    border-top: 1px solid #cfd2d6;
    height: 100%;
    color: #040405;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.item-shoppingbag {
    border-radius: 0;
    display: inline;
    border: none;
    background: none;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-shoppingbag:hover {
    background: none;
}

.item-shoppingbag>i {
    color: #040405;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: none;
}

.item-wishlist {
    border-radius: 0;
    border-right: 0;
    display: inline;
    padding: 0;
    border: none;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-wishlist:hover {
    background:none;
}

.item-wishlist>i {
    color: #f41e13;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* FOOTER - Social media right*/
.social-media {
    font-size: 1.15em;
}

/* FOOTER - Contact info left */
.contact-box {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-box>p {
    margin-bottom: 2px;
}

.social-media-box {
    float: right;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*NAVIGATION BAR - styling the navbar*/
.navbar-brand {
    padding: 0;
    float: left;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-styling {
    background: #040405;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #040405;
    border-radius: 0%;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.span {
    display: block;
    position: relative;
}

.padding-wishlist{
    padding-right: 50px;
}

.nav-wishlist {
    color: #e58d12;
}

.nav-shoppingbag {
    color: #e58d12;
}

.input-size {
    width: 150px;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(232, 234, 237);
    text-align: center;
}

.navbar-default .navbar-brand {
    color: rgb(232, 234, 237);
    margin-top: 0;
}

.navbar-nav>li>a {
    height: 49.55px;
}

li>a.li-a-navbar {
    padding: 4px 15px;
}

#english:selected {
    color: #e58d12;
}

.navbar-default .navbar-nav>li>a>span {
    color: rgb(232, 234, 237);
    font-size: 10px;
    padding-bottom: 0;
}

/* NAVIGATION BAR - Hover effects for the list items*/
.navbar-default .navbar-nav>li>a:hover {
    color: rgb(232, 234, 237);
}

.hvr-underline-from-center {
    display: block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #e58d12;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/*REGISTERPAGE - styling both buttons, login & register*/
.button-group {
    padding-top: 20px;
    text-align: center;
}

.button {
    color: rgb(232, 234, 237);
    background-color: #040405;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 150px;
    font-weight: bold;
    padding: 14px 0px;
    border: none;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(150, 150, 150, 1), 0 3px 6px rgba(150, 150, 150, 1);
}

.button:hover {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e58d12;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button:hover, .button:focus, .button:active {
  color: white;
}
.button:hover:before, .button:focus:before, .button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*LOGIN PAGE - Styling the page*/
.login-page {
    content: center;
}

.login-form {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
}

.category-bar {
    padding-left: 30px;
    margin-top: 51px;
    width: 100%;
    background: #040405;
    border: none;
    border-radius: 0%;
    text-align: center;
    position: fixed;
    z-index: 1;
    font-size: 12px;
}

.language-option:before {
    content: '';
    background: #e58d12;
    width: 4px;
    display: block;
    position: absolute;
    height: 20px;
    top: 1em;
}

.language-option:selected {
    color: #e58d12;
}