button>i {
    font-size: 1.5em;
}

button {
    background-color: #040405;
    border: 0;
    height: 49.5px;
    color:  rgb(232, 234, 237);
}

#wishlist {
    margin-right: 35px;
    height: 49.55px;
    border: none;
}

#shoppingbag {
    margin-right: 0px;
    height: 49.55px;
    border: none;
}

.brand-image {
    width: 155px;
    height: 45px;
}

/*NAVIGATION BAR - styling the navbar*/
.navbar-brand {
    padding: 0;
    float: left;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-styling {
    background: #040405;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #040405;
    border-radius: 0%;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.span {
    display: block;
    position: relative;
}

.nav-wishlist {
    color: #e58d12;
}

.nav-shoppingbag {
    color: #e58d12;
}

.input-size {
    width: 150px;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(232, 234, 237);
    text-align: center;
}

.navbar-default .navbar-nav>li>button {
    color: rgb(232, 234, 237);
    text-align: center;
    background-color: #040405;
}

.navbar-default .navbar-brand {
    color: rgb(232, 234, 237);
    margin-top: 0;
}

.navbar-nav>li>a {
    height: 49.55px;
}

.navbar-nav>li>button {
    height: 49.55px;
}

li>a.li-a-navbar {
    padding: 4px 15px;
}

li>button.li-a-navbar {
    padding: 4px 15px;
}

#english:selected {
    color: #e58d12;
}

.navbar-default .navbar-nav>li>button>span {
    color: rgb(232, 234, 237);
    font-size: 10px;
    padding-bottom: 0;
}

.language-option:before {
    content: '';
    background: #e58d12;
    width: 4px;
    display: block;
    position: absolute;
    height: 20px;
    top: 1em;
}

.language-option:selected {
    color: #e58d12;
}

/* NAVIGATION BAR - Hover effects for the list items*/
.navbar-default .navbar-nav>li>a:hover {
    color: rgb(232, 234, 237);
}

.hvr-underline-from-center {
    display: block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #e58d12;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}