hr {
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#add-to-bag {
    width: 200px;
    margin-right: 30px;
}

#add-to-wishlist {
    width: 250px;
}

.show-dropdown {
    margin-left: 30px;
    margin-top: 100px;
    background-color: #040405;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.show-dropdown:hover {
    background-color: #040405;
    color: white;
}

.show-dropdown:active {
    background-color: #040405;
    color: white;
}

.show-dropdown-menu {
    background-color: white;
    text-decoration: uppercase;
    color: white;
}

.show-brand-icon {
    width: 200px;
    height: 200px;
}

.show-description {
    padding-left: 30px;
}

.show-side-image {
    height: 20px;
    width: 20px;
}

.show-sizes {
    margin-bottom: 50px;
}

.show-price {
    margin-top: 110px;
    float:right;
    font-size: 25px;
    
}

.show-brand-icon {
    width: 200px;
    height: 200px;
}

.show-details {
    margin-bottom: 75px;
}

.show-image {
    width: 350px;
    height: 250px;
}

.show-options {
    text-align: center;
    margin-left: 40px;
}



