hr {
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

ul>a {
    margin-left: 60px;
    margin-bottom: 20px;
}

.shopping-span {
    margin-top: 19px;
    margin-left: 0;
}

#add-to-bag {
    width: 200px;
    margin-right: 30px;
}

#add-to-wishlist {
    width: 250px;
}

.show-dropdown {
    margin-left: 30px;
    margin-top: 100px;
    background-color: #040405;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.show-dropdown:hover {
    background-color: #040405;
    color: white;
}

.show-dropdown:active {
    background-color: #040405;
    color: white;
}

.show-dropdown-menu {
    background-color: white;
    text-decoration: uppercase;
    color: white;
    text-align: center;
}

.show-brand-icon {
    width: 200px;
    height: 200px;
}

.show-description {
    padding-left: 30px;
}

.show-side-image {
    height: 20px;
    width: 20px;
}

.show-sizes {
    margin-bottom: 50px;
}

.show-price {
    margin-top: 110px;
    float:right;
    font-size: 25px;
    
}

.show-brand-icon {
    width: 200px;
    height: 200px;
}

.show-details {
    margin-bottom: 75px;
}

.show-image {
    width: 350px;
    height: 250px;
}

.show-options {
    text-align: center;
    margin-left: 40px;
}

/* SHOPPINGBAG - Shoppingbag styling  */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.badge {
    background-color: #e58d12;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    line-height: 1;
    padding: 5px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart-header {
    border-bottom: 1px solid #040405;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.shopping-cart-header>i {
    margin-top: 17px;
}

.shopping-cart-total {
    float: right;
}

.cart-icon {
    color: #040405;
    font-size: 24px;
    margin-right: px;
    float: left;
}

.shopping-cart-items li {
    margin-bottom: 18px;
    list-style-type: none;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
}

.shopping-cart-items img {
    float: left;
    margin-right: 12px;
    height: 70px;
    width: 70px;
}

.shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart-items .item-price {
    margin-right: 8px;
    margin-top: 8px;
}

.shopping-cart-container {
    width: 320px;
    border: solid transparent;
    border: 1px solid #040405;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
}
  
.shopping-cart-container>img {
    width: 20px;
    height: 20px;
}

.shopping-cart-container:after {
    bottom: 100%;
	left: 85.5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ede8e8;
	border-width: 8px;
	margin-left: -8px;
}

.wishlist-container {
    width: 320px;
    border: solid transparent;
    border: 1px solid #040405;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
}

.wishlist-container:after {
    bottom: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ede8e8;
	border-width: 8px;
	margin-left: -8px;

}

.shopping-total {
    margin-top: 10px;
}

.validation-error { 
    border: 1.5px solid red;
}